<!DOCTYPE html>

{% extends "base.html" %}
{% block page_content %}
<div class="page-header">
    <h1>componentes familiares</h1>
    <table class="table">
        <thead>
            <tr>
                {% for field in fields %} <!-- itera por los elementos en la lista fields -->
                    <th>{{ field }}</th> <!-- combina el html con la vaiable field que contiene al nombre del campo -->
                {% endfor %}
            </tr>
        </thead>
        <tbody>
                {% for i in range(0, client_count) %}   <!-- itera por los elementos en la lista clients -->
                <tr id="{{ i }}">
                    {% for field in clients[i] %} <!-- itera por los campos del registro  -->
                        <td>{{ field }}</td><!-- combina el html con la vaiable field que contiene al valor del campo -->
                    {% endfor %}
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}